@charset "UTF-8";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #7f7f7f;
  width: 100vw;
  height: 100vh;
}

.padding-container {
  padding: 10px;
  width: 100%;
  height: 100%;
}

#todo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  width: 100%;
  padding: 10px;
  overflow: auto;
  box-shadow: 0 0 6px #0000007a;
}

#header {
  padding: 10px;
  width: 85%;
  max-width: 500px;
}

#custom {
  margin-bottom: 10px;
}

#input {
  padding: 5px;
  width: 85%;
  font-size: 1em;
}

#new-task {
  padding: 5px;
  width: 12%;
  font-size: 1em;
  font-weight: bold;
}

#todo-list {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 500px;
}

.select-order {
  width: 285px;
}

.todo-item {
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #bebebe;
  border-radius: 10px;
  border: 1px solid black;
}

.input-edit {
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.button-edit {
  padding: 4px;
  margin: 0 5px 0 5px;
}

input, select {
  background-color: #FFFFFF;
  border: 1px solid black;
}

input:focus, select:focus {
  border-color: #2563EB;
  outline: none;
}

.button-delete {
  padding: 4px;
  margin: 0 5px 0 5px;
}

.button-finish {
  padding: 4px;
  margin: 0 5px 0 5px;
}

.finished {
  text-decoration: line-through;
  opacity: 0.6;
}

h1 {
  font-size: 2.5em;
  padding: 10px;
  margin-bottom: 10px;
}

h3 {
  margin-left: 5px;
}

p {
  margin-bottom: 0;
}
