@charset "UTF-8";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: grey;
}

#todo-container {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: lightgrey;
  width: 90vw;
  padding: 10px;
  margin: 8px;
}