@charset "UTF-8";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: grey;
  width: 100vw;
  height: 100vh;
}

.padding-container {
  padding: 10px;
  width: 100%;
  height: 100%;
}

#todo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
  width: 100%;
  padding: 10px;
  overflow: auto;
}

#header {
  margin-bottom: 10px;
  padding: 10px;
}

#input {
  padding: 5px;
  width: 85%;
  font-size: 1.1em;
}

#new-task {
  padding: 5px;
  width: 12%;
  font-size: 1.1em;
  font-weight: bold;
}

#todo-list {
  display: flex;
  flex-direction: column;
}

.todo-item {
  padding: 7px;
  margin: 10px 0 10px 0;
}

h3 {
  display: inline;
  padding: 7px;
  margin-right: 7px;
}